<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <base href="/admin/">
        <!--STYLES-->
        
        <!--STYLES END-->
    </head>
    <body>
        <div id="app">Loading...</div>
        <!--SCRIPTS-->
        
        <!--SCRIPTS END-->
		<script src="/admin/bundle.js"></script>
    </body>
</html>
